# Mac の不要ファイル
.DS_Store
**/.DS_Store

# Java クラスファイル
*.class

# ビルド成果物
**/bin/
**/target/

# ログや一時ファイル
*.log
*.tmp

# IDE 設定ファイル（もしIDEを使う場合）
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Docker 関連
**/.dockerignore
